<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::dynamic(~{::section})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<section>
		<div class="wrapper">
			
			<main class="main-content">

				<!--== Start Page Header Area Wrapper ==-->
				<section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<div class="page-header-st3-content text-center text-md-start">
									<ol
										class="breadcrumb justify-content-center justify-content-md-start">
										<li class="breadcrumb-item"><a class="text-dark"
											href="index.html">Home</a></li>
										<li class="breadcrumb-item active text-dark"
											aria-current="page">About-us</li>
									</ol>
									<h2 class="page-header-title">All About us</h2>
								</div>
							</div>
							<div class="col-md-7">
								<h5
									class="showing-pagination-results mt-5 mt-md-9 text-center text-md-end">Showing
									Results</h5>
							</div>
						</div>
					</div>
				</section>
				<!--== End Page Header Area Wrapper ==-->
				<!--== Start Page Header Area Wrapper ==-->
				<section class="page-header-area">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-md-7 col-lg-7 col-xl-5">
								<div class="page-header-content">
									<div class="title-img">
										<img src="assets/images/photos/about-title.webp" alt="Image">
									</div>
									<h2 class="page-header-title">Chúng tôi là, Fusion</h2>
									<h4 class="page-header-sub-title">Nhà cung cấp trang sức
										tốt nhất</h4>
									<p class="page-header-desc">Với đội ngũ làm việc chuyên
										nghiệp, chúng tôi tự tin tạo ra những dòng trang sức tốt nhất,
										đẹp nhất, xịn xò nhất đến tay người tiêu dùng..</p>
								</div>
							</div>
							<div class="col-md-5 col-lg-5 col-xl-7">
								<div class="page-header-thumb">
									<img src="assets/images/photos/fusion 1.png" width="570"
										height="669" alt="Image">
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--== End Page Header Area Wrapper ==-->

				<!--== Start Funfact Area Wrapper ==-->
				<section class="funfact-area section-space">
					<div class="container">
						<div class="row mb-n6">
							<div class="col-sm-6 col-lg-4 mb-6">
								<!--== Start Funfact Item ==-->
								<div class="funfact-item">
									<div class="icon">
										<img src="assets/images/icons/funfact1.webp" width="110"
											height="110" alt="Icon">
									</div>
									<h2 class="funfact-number">3500+</h2>
									<h6 class="funfact-title">Khách hàng</h6>
								</div>
								<!--== End Funfact Item ==-->
							</div>
							<div class="col-sm-6 col-lg-4 mb-6">
								<!--== Start Funfact Item ==-->
								<div class="funfact-item">
									<div class="icon">
										<img src="assets/images/icons/funfact2.webp" width="110"
											height="110" alt="Icon">
									</div>
									<h2 class="funfact-number">250+</h2>
									<h6 class="funfact-title">Dự án</h6>
								</div>
								<!--== End Funfact Item ==-->
							</div>
							<div class="col-sm-6 col-lg-4 mb-6">
								<!--== Start Funfact Item ==-->
								<div class="funfact-item">
									<div class="icon">
										<img src="assets/images/icons/funfact3.webp" width="110"
											height="110" alt="Icon">
									</div>
									<h2 class="funfact-number">1.5M+</h2>
									<h6 class="funfact-title">Doanh thu</h6>
								</div>
								<!--== End Funfact Item ==-->
							</div>
						</div>
					</div>
				</section>
				<!--== End Funfact Area Wrapper ==-->

				<!--== Start About Area Wrapper ==-->
				<section class="section-space pt-0 mb-n1">
					<div class="container">
						<div class="about-thumb">
							<img src="assets/images/photos/main.jpg" alt="Image"
								style="display: block; margin: 0 auto; width: 1000px; height: auto;">
						</div>
						<div class="about-content">
							<h2 class="title">Tầm Nhìn & Sứ Mệnh</h2>
							<p class="desc">Với tư duy thiết kế sáng tạo, tay nghề chuyên
								môn đáng tin cậy và tinh thần “dám đổi mới”, NTJ mong muốn trở
								thành nhà cung cấp trang sức hàng đầu tại Việt Nam và trên thị
								trường quốc tế.</p>
						</div>
					</div>
				</section>
				<!--== End About Area Wrapper ==-->
			</main>

		</div>
	</section>
</body>
</html>