<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="assets/css/style2.css">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <h2>Quên Mật Khẩu</h2>
            <p>Vui lòng nhập email của bạn để nhận liên kết đặt lại mật khẩu.</p>
            <form>
                <input type="email" placeholder="Nhập email của bạn" required>
                <button type="submit">Xác nhận</button>
            </form>
        </div>
    </div>
</body>

</html>